package ${packageName}.common.constants;

/**
 * 类描述: redis key 常量类
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
public class RedisKeyConstants {

    /**
     * redis topic key定义
     */
    public static class Topic {

        public static final String REDIS_TOPIC ="redis:topic";
    }

    /**
     * demo业务redis key定义
     */
    public static class Demo {
        /**
         * demo list缓存
         */
        public static final String DEMO_LIST = "demo:list";

        /**
         * demo分布式锁前缀
         */
        public static final String DEMO_DISTRIBUTE_LOCK_PREFIX = "demo:lock:%s";
    }

    /**
     * sms业务redis key定义
     */
    public static class Sms {
        public static final String SMS_LIST = "sms:list:%";
    }
}
