package ${packageName}.${functionDir}.manager;

import ${packageName}.${functionDir}.dto.${genFileRenameDTO.dtoName}DTO;
import ${packageName}.${functionDir}.dto.${genFileRenameDTO.queryReqDTOName}QueryReqDTO;
import ${packageName}.${functionDir}.repository.mapper.${genFileRenameDTO.mapperName}Mapper;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Component;
import javax.annotation.Resource;
import java.util.List;

/**
 * 类描述：${genFunctions}manager
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
@Component
@Slf4j
public class ${className}Manager {
    @Resource
    private ${genFileRenameDTO.mapperName}Mapper ${instanceName}Mapper;

    /**
     * 功能：查询列表记录
     */
    public List<${genFileRenameDTO.dtoName}DTO> findList(${genFileRenameDTO.queryReqDTOName}QueryReqDTO ${instanceName}QueryReqDTO) {
        return ${instanceName}Mapper.findList(${instanceName}QueryReqDTO);
    }
}