package ${packageName}.demo.repository.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${packageName}.demo.dto.DemoDTO;
import ${packageName}.demo.dto.DemoQueryReqDTO;
import ${packageName}.demo.repository.dataobject.DemoDO;
import org.apache.ibatis.annotations.Mapper;

import java.util.List;

/**
 * 类描述：示例mapper
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
@Mapper
public interface DemoMapper extends BaseMapper<DemoDO> {

    List<DemoDTO> findList(DemoQueryReqDTO req);
}
