package ${packageName}.${functionDir}.service;

import ${packageName}.${functionDir}.dto.${genFileRenameDTO.dtoName}DTO;
import ${packageName}.${functionDir}.dto.${genFileRenameDTO.queryReqDTOName}QueryReqDTO;
import com.sf.cemp.framework.common.plus.page.PageResp;
import com.sf.framework.domain.Result;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import javax.ws.rs.Consumes;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;

/**
 * 类描述：${genFunctions}服务接口
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
@Path("${instanceName}Service")
@Consumes({MediaType.APPLICATION_JSON})
@Produces({MediaType.APPLICATION_JSON + "; " + MediaType.CHARSET_PARAMETER + "=UTF-8"})
@Api(value = "${instanceName}Service", tags = "${genFunctions}")
public interface ${className}Service {
    /**
     * 功能描述: 分页查询列表
     */
    @POST
    @Path("pageList")
    @ApiOperation(value = "分页查询列表", notes = "分页查询列表")
    Result<PageResp<${genFileRenameDTO.dtoName}DTO>> listPage(${genFileRenameDTO.queryReqDTOName}QueryReqDTO req);

    /**
     * 功能描述: 新增保存
     */
    @POST
    @Path("save")
    @ApiOperation(value = "新增保存", notes = "新增保存")
    Result<Boolean> save(${genFileRenameDTO.dtoName}DTO ${instanceName}DTO);

    /**
     * 功能描述: 修改记录
     */
    @POST
    @Path("update")
    @ApiOperation(value = "修改记录", notes = "修改记录")
    Result<Boolean> update(${genFileRenameDTO.dtoName}DTO ${instanceName}DTO);

    /**
     * 功能描述: 根据id删除记录
     */
    @POST
    @Path("deleteById")
    @ApiOperation(value = "根据id删除记录", notes = "根据id删除记录")
    Result<Boolean> deleteById(${genFileRenameDTO.dtoName}DTO ${instanceName}DTO);

    /**
     * 功能描述: 根据id获取记录
     */
    @POST
    @Path("getById")
    @ApiOperation(value = "根据id获取记录", notes = "根据id获取记录")
    Result<${genFileRenameDTO.dtoName}DTO> getWrapperById(${genFileRenameDTO.dtoName}DTO ${instanceName}DTO);
}