package ${packageName}.demo.dto;

import com.sf.cemp.framework.common.plus.page.BaseDTO;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import javax.validation.constraints.NotEmpty;
import java.io.Serializable;
import java.math.BigDecimal;

/**
 * 类描述: 实例DTO
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
@Data
@ApiModel("实例DTO")
public class DemoDTO extends BaseDTO implements Serializable {
    @ApiModelProperty(value = "主键Id")
    private Long id;

    @ApiModelProperty(value = "批次号")
    @NotEmpty(message = "批次号不能为空")
    private String spNo;

    @ApiModelProperty(value = "总金额")
    private BigDecimal totalAmt;

    @ApiModelProperty(value = "可用金额")
    private BigDecimal usableAmt;


}