package ${packageName}.${functionDir}.service.impl;

import ${packageName}.${functionDir}.dto.${genFileRenameDTO.dtoName}DTO;
import ${packageName}.${functionDir}.dto.${genFileRenameDTO.queryReqDTOName}QueryReqDTO;
import ${packageName}.${functionDir}.manager.${genFileRenameDTO.managerName}Manager;
import ${packageName}.${functionDir}.service.${genFileRenameDTO.serviceName}Service;
import com.sf.cemp.framework.common.base.SFResultUtil;
import com.sf.framework.domain.Result;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Component;

import javax.annotation.Resource;
import java.util.List;

/**
 * 类描述：${genFunctions}服务实现
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
@Component
@Slf4j
public class ${className}ServiceImpl implements ${genFileRenameDTO.serviceName}Service {
    @Resource
    private ${genFileRenameDTO.managerName}Manager ${instanceName}Manager;

    @Override
    public Result<List<${genFileRenameDTO.dtoName}DTO>> findList(${genFileRenameDTO.queryReqDTOName}QueryReqDTO req) {
        return SFResultUtil.success(${instanceName}Manager.findList(req));
    }
}
