package ${packageName}.${functionDir}.dto;

import com.alibaba.fastjson.annotation.JSONField;
import com.sf.cemp.framework.common.base.BaseParam;
import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

import javax.validation.constraints.NotNull;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
import javax.validation.constraints.NotEmpty;
import java.io.Serializable;
#set($tempBigDecimal = 'yes')
#set($tempDate = 'yes')
#foreach ($column in $tableField)
#if (${column.javaType} == 'BigDecimal' && ${tempBigDecimal} == 'yes')
import java.math.BigDecimal;
    #set($tempBigDecimal = 'no')
#end
#if (${column.javaType} == 'Date' && ${tempDate} == 'yes')
import java.util.Date;
    #set($tempDate = 'no')
#end
#end
import static com.sf.cemp.framework.common.util.date.SfDateUtil.YYYY_MM_DD_HH_MM_SS;

/**
 * 类描述: ${genFunctions}DTO
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
@Data
@ApiModel("${genFunctions}实例DTO")
@Builder
@AllArgsConstructor
@NoArgsConstructor
@JsonIgnoreProperties(ignoreUnknown = true)
public class ${className}DTO implements Serializable {

#foreach ($column in $tableField)
#if(!${column.columnComment})
    #set(${column.columnComment}='')
#end
    @ApiModelProperty(value = "${column.columnComment}", name = "${column.javaColumns}", required = false#if (${column.javaType} == 'Date'), dataType = "date", example = "${createDateString}"#else, example = ""#end)
#if (${column.javaType} == 'Date')
    @JSONField(format = YYYY_MM_DD_HH_MM_SS)
#end
#if (${column.addUpdateRequire} == 1 && ${column.javaType} == 'String' )
    @NotEmpty(message = "${column.columnComment}不能为空", groups = BaseParam.addUpdateRequired.class)
#end
#if (${column.addUpdateRequire} == 1 && ${column.javaType} != 'String')
    @NotNull(message = "${column.columnComment}不能为空", groups = BaseParam.addUpdateRequired.class)
#end
    private ${column.javaType} ${column.javaColumns};

#end
}
